@model IEnumerable<Person>
@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create" class="btn btn-success">ثبت جدید</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersianFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnglishFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersianBio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnglishBio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersianAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnglishAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facebook)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Pinteret)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Twitter)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Instagram)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.WebSite)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersianFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersianBio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishBio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersianAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @{

                    var base64 = Convert.ToBase64String(item.Image);
                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                }

                <img src="@imgSrc" class="img img-responsive" />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facebook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pinteret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Twitter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instagram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebSite)
            </td>
            <td>
                <a asp-action="Edit" asp-route-Id="@item.PersonID" class="btn btn-info">ویرایش</a>
                |
                <a asp-action="Delete" asp-route-Id="@item.PersonID" class="btn btn-danger" onclick="return confirm('از حذف این کالا مطمئن هستید؟')">حذف</a>
            </td>
        </tr>
        }
    </tbody>
</table>


