@model IEnumerable<Article>
@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create" class="btn btn-success">ثبت جدید</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArticleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.EnglishFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           
           

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.EnglishFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
              
                <td>
                    <a asp-action="Edit" asp-route-Id="@item.ArticleID" class="btn btn-info">ویرایش</a>
                    |
                    <a asp-action="Delete" asp-route-Id="@item.ArticleID" class="btn btn-danger" onclick="return confirm('از حذف این کالا مطمئن هستید؟')">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>


